version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: profe_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: profe_minedu
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:alpine
    container_name: profe_redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  postgres_data:
